@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #198754;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 50px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #272346;
    margin-bottom: 30px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-align: center;
}

button, input {
    width: 100%;
    border-radius: 15px;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    background: #f7fafc;
    margin-bottom: 15px;
}

button {
    font-size: 18px;
    color: #fff;
    background: #198754;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    color: #272346;
    background: #157347;
}

p.account a {
    color: #198754;
    text-decoration: none;
    font-weight: 600;
}

p.account a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
        width: 90%;
    }
}