/* Adicione isso no início do seu CSS */
html {
    font-size: 16px;
    zoom: 1;
}

body {
    font-size: 1rem;
    zoom: 1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.sidebar {
    width: 250px;
    background-color: #198754;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    transition: width 0.3s ease-in-out;
}

.sidebar a {
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    font-size: 18px;
}

.sidebar a i {
    font-size: 24px;
    margin-right: 10px;
}
.sidebar a:hover {
    background-color: #146c43;
}
.content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    overflow-y: auto;
    height: 100vh;
    zoom: 1; /* Adicione esta linha */
    transform: scale(1); /* Adicione esta linha */
}

.sidebar-hidden {
    width: 60px;
}
.sidebar-hidden a {
    text-align: center;
}
.sidebar-hidden a span {
    display: none;
}
.content-expanded {
    margin-left: 60px;
}
.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1050;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header h2 {
    margin: 0;
}
.user-icon {
    font-size: 24px;
    cursor: pointer;
    color: #198754;
}
.card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }
    .sidebar a span {
        display: none;
    }
    .content {
        margin-left: 60px;
    }
    .toggle-btn {
        display: block;
    }
}
@media (max-width: 576px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar-hidden {
        transform: translateX(0);
    }
    .content {
        margin-left: 0;
    }
    .toggle-btn {
        left: 20px;
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none; 
}

.custom-spinner {
    width: 5rem;
    height: 5rem;
    border-width: 0.5rem;
    border-color: #198754;
    border-right-color: transparent;
}

.custom-modal {
    border-radius: 0 !important;
}

#sidebar {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('../imgs/karate-sidebar-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Efeito parallax opcional */
}

#sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.26);
}