@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #198754;
}

.login-form {
    position: relative;
    min-height: 100vh; 
    background: #198754;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.main {
    display: flex;
    align-items: stretch; 
    min-height: 450px;
    width: 100%;
}

.content {
    flex: 1;
    padding: 50px;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #272346;
    margin-bottom: 20px;
    margin-top: -20px; 
}

.form-img {
    flex: 1;
    background: #f4f9fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-align: center;
}

button, input {
    width: 100%;
    border-radius: 35px;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    background: #f7fafc;
    margin-bottom: 15px;
}

button {
    font-size: 18px;
    color: #fff;
    background: #4e34b6;
    font-weight: 600;
    transition: 0.3s ease;
}

button:hover {
    color: #272346;
    transition: 0.5s ease;
}

p.account a {
    color: #4e34b6;
}

p.account a:hover {
    text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        min-height: auto;
    }

    .content {
        border-radius: 8px;
    }

    .form-img {
        display: none; 
    }
}
